<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
	  <!--Set the below paths to folders on your local machine-->
	<add key="InputFolderPath" value="C:\\Input"/>
    <add key="OutputFolderPath" value="C:\\Output"/>
  </appSettings>
</configuration>